@model IEnumerable<ShowControlWeb_QuestionManagement.Gamequestions>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.QuestionId).Titled("ID");
        columns.Add(model => model.Difficulty).Titled("Difficulty");
        columns.Add(model => model.Question).Titled("Question");
        columns.Add(model => model.Answer1).Titled("Answer1");
        columns.Add(model => model.Answer2).Titled("Answer2");
        columns.Add(model => model.Answer3).Titled("Answer3");
        columns.Add(model => model.Answer4).Titled("Answer4");
        columns.Add(model => model.CorrectAnswer).Titled("Correct");
        columns.Add(model => model.Type).Titled("Type");
        //DateOfCreation
    }).Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 15, "15" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 5;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 5;
    })
)
