<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuestionEditAndPreset.StackSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QuestionEditAndPreset.MapLevelDifficultyGameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QuestionEditAndPreset.AdvancedGameConfigSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QuestionEditAndPreset.DatabasesSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <QuestionEditAndPreset.StackSettings>
            <setting name="LiveStackID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LiveStackTypeChosen" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LiveStackNameselected" serializeAs="String">
                <value />
            </setting>
        </QuestionEditAndPreset.StackSettings>
        <QuestionEditAndPreset.MapLevelDifficultyGameSettings>
            <setting name="Level1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Level2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Level3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Level4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Level5" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Level6" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Level7" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Level8" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Level9" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Level10" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Level11" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Level12" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Level13" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Level14" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Level15" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Level16" serializeAs="String">
                <value />
            </setting>
            <setting name="Level17" serializeAs="String">
                <value />
            </setting>
            <setting name="Level18" serializeAs="String">
                <value />
            </setting>
            <setting name="Level19" serializeAs="String">
                <value />
            </setting>
            <setting name="Level20" serializeAs="String">
                <value />
            </setting>
            <setting name="Level21" serializeAs="String">
                <value />
            </setting>
            <setting name="Level22" serializeAs="String">
                <value />
            </setting>
            <setting name="Level23" serializeAs="String">
                <value />
            </setting>
            <setting name="Level24" serializeAs="String">
                <value />
            </setting>
            <setting name="Level25" serializeAs="String">
                <value />
            </setting>
            <setting name="Level26" serializeAs="String">
                <value />
            </setting>
            <setting name="Level27" serializeAs="String">
                <value />
            </setting>
            <setting name="Level28" serializeAs="String">
                <value />
            </setting>
            <setting name="Level29" serializeAs="String">
                <value />
            </setting>
            <setting name="Level30" serializeAs="String">
                <value />
            </setting>
            <setting name="Level31" serializeAs="String">
                <value />
            </setting>
            <setting name="Level32" serializeAs="String">
                <value />
            </setting>
            <setting name="Level33" serializeAs="String">
                <value />
            </setting>
            <setting name="Level34" serializeAs="String">
                <value />
            </setting>
            <setting name="Level35" serializeAs="String">
                <value />
            </setting>
            <setting name="Level36" serializeAs="String">
                <value />
            </setting>
            <setting name="Level37" serializeAs="String">
                <value />
            </setting>
            <setting name="Level38" serializeAs="String">
                <value />
            </setting>
            <setting name="Level39" serializeAs="String">
                <value />
            </setting>
            <setting name="Level40" serializeAs="String">
                <value />
            </setting>
        </QuestionEditAndPreset.MapLevelDifficultyGameSettings>
        <QuestionEditAndPreset.AdvancedGameConfigSettings>
            <setting name="GamePlay1_Name" serializeAs="String">
                <value>MainGame</value>
            </setting>
            <setting name="GamePlay1_QAChoices" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GamePlay1_TotalStackQ" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="QualificationGame1_Name" serializeAs="String">
                <value>FastestFingerFirst</value>
            </setting>
            <setting name="QualificationGame1_QAChoices" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="QualificationGame1_TotalStackQ" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="QualificationGame1_RightOrderYN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StackBuild_RepeatCategoriesYN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StackBuild_UnusedUsedBothQ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StackBuild_UseOnlyCatIDs" serializeAs="String">
                <value />
            </setting>
            <setting name="StackBuild_ExcludeCatIDs" serializeAs="String">
                <value />
            </setting>
            <setting name="MapLevelDifficult_DefaultMaping" serializeAs="String">
                <value />
            </setting>
            <setting name="SetMoneyTree_DefaultTree" serializeAs="String">
                <value />
            </setting>
            <setting name="UsageSelectionQuery" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopBottomSelectionQuery" serializeAs="String">
                <value />
            </setting>
        </QuestionEditAndPreset.AdvancedGameConfigSettings>
        <QuestionEditAndPreset.DatabasesSettings>
            <setting name="QuestionDB_defaultHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="QuestionDB_defaultUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="QuestionDB_defaultPassword" serializeAs="String">
                <value>P@ssw0rd</value>
            </setting>
            <setting name="QuestionDB_defaultDatabase" serializeAs="String">
                <value>wwtbam</value>
            </setting>
            <setting name="QuestionDB_defaultTable1" serializeAs="String">
                <value>gamequestions</value>
            </setting>
            <setting name="ShowtimeDB_defaultHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ShowtimeDB_defaultUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="ShowtimeDB_defaultPassword" serializeAs="String">
                <value>P@ssw0rd</value>
            </setting>
            <setting name="ShowtimeDB_defaultDatabase" serializeAs="String">
                <value>wwtbam</value>
            </setting>
            <setting name="ShowtimeDB_defaultTable1" serializeAs="String">
                <value>questionsforcontestant</value>
            </setting>
            <setting name="QuestionDB_defaultTable2" serializeAs="String">
                <value>questioncategories</value>
            </setting>
            <setting name="QuestionDB_defaultTable3" serializeAs="String">
                <value>questionsubcategories</value>
            </setting>
            <setting name="QuestionDB_setDatabase" serializeAs="String">
                <value>wwtbam</value>
            </setting>
            <setting name="QuestionDB_setHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="QuestionDB_setPassword" serializeAs="String">
                <value>P@ssw0rd</value>
            </setting>
            <setting name="QuestionDB_setTable1" serializeAs="String">
                <value>gamequestions</value>
            </setting>
            <setting name="QuestionDB_setTable2" serializeAs="String">
                <value>questioncategories</value>
            </setting>
            <setting name="QuestionDB_setTable3" serializeAs="String">
                <value>questionsubcategories</value>
            </setting>
            <setting name="QuestionDB_setUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="ShowtimeDB_setHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ShowtimeDB_setPassword" serializeAs="String">
                <value>P@ssw0rd</value>
            </setting>
            <setting name="ShowtimeDB_setTable1" serializeAs="String">
                <value>questionsforcontestant</value>
            </setting>
            <setting name="ShowtimeDB_setUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="ShowtimeDB_setDatabase" serializeAs="String">
                <value>wwtbam</value>
            </setting>
            <setting name="QuestionDB_setTable4" serializeAs="String">
                <value>questionstacks</value>
            </setting>
            <setting name="QuestionDB_setTable5" serializeAs="String">
                <value>questionstackitems</value>
            </setting>
            <setting name="QuestionDB_defaultTable4" serializeAs="String">
                <value>questionstacks</value>
            </setting>
            <setting name="QuestionDB_defaultTable5" serializeAs="String">
                <value>questionstackitems</value>
            </setting>
            <setting name="questionDBconnectionSQL" serializeAs="String">
                <value>Server = 127.0.0.1;Uid=root;Password=P@ssw0rd;Database=wwtbam;Character Set=utf8;</value>
            </setting>
            <setting name="showtimeDBconnectionSQL" serializeAs="String">
                <value>Server = 127.0.0.1;Uid=root;Password=P@ssw0rd;Database=wwtbam;Character Set=utf8;</value>
            </setting>
        </QuestionEditAndPreset.DatabasesSettings>
    </userSettings>
</configuration>
